.product {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(96, 165, 68);
  margin: 1rem 0;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.product:hover {
  background-color: rgb(244, 244, 244);
}

.image img {
  height: 300px;
  width: 300px;
  border-radius: 12px;
  object-fit: cover;
  object-position: center center;
  display: flex;
}

.information {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0.8rem;
}

.information span {
  margin: 0.1rem 0;
  color: #444;
}

.buttons {
  margin: 1rem 0;
}

.buttons button {
  background-color: transparent;
  padding: 0.7rem 3rem;
  border: 1px solid rgb(96, 165, 68);
  border-radius: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0 0.3rem;
}

.buttons button:hover {
  background-color: rgb(96, 165, 68);
  color: white;
  border: 1px solid #fff;
}

.productName {
  font-size: 1.5rem;
  align-self: center;
  text-transform: capitalize;
  color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userName {
  text-transform: capitalize;
}
