.container {
  margin: 0 auto;
  width: 1000px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.buttons {
  margin: 1rem auto 4rem auto;
}

.buttons button {
  background-color: transparent;
  padding: 0.7rem 3rem;
  border: 1px solid rgb(96, 165, 68);
  border-radius: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 0 0.3rem;
}

.buttons button:hover {
  background-color: rgb(96, 165, 68);
  color: white;
  border: 1px solid #fff;
}
